/node_modules
/public/hot
/public/storage
/vendor
/docker
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml

.idea
_ide_helper.php
.phpstorm.meta.php
composer.lock
composer.phar
composer
.composer
docker
.bash_history

.htaccess
/docs

*.log
